# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Model files (optional but recommended)
models/
*.pkl

# Dataset (large files should NOT go to GitHub)
data/
*.csv
*.xlsx

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/